https://www.justus.pw, https://justusperlwitz.com, https://www.justusperlwitz.com {
    log /var/log/caddy-redirect.log
    redir https://justus.pw{uri}
    tls {
        max_certs 10
    }
}

https://justus.pw {
    root {{ www_dir }}/justus.pw
    gzip
    log /var/log/caddy.log
    tls {
        max_certs 10
    }
}

https://www.datakernel.co {
    log /var/log/caddy-redirect.log
    redir https://datakernel.pw{uri}
    tls {
        max_certs 10
    }
}

https://datakernel.co {
    root {{ www_dir }}/datakernel.co
    gzip
    log /var/log/caddy.log
    tls {
        max_certs 10
    }
}
